body{
    background-color: rgb(155, 143, 143);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: brown
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}
.text{
    max-width: 400px;
    font-size: xx-large;
    color: #8254c3;
}
.image img{
    width: 300px;
    height: auto;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200;
}
h3{
    max-width: 400px;
    font-size: xx-large;
    color: #8254c3;
}
.imega2 img{
    width: 300px;
    height: auto;
}